@model SEP.Models.ViewModels.StudentVM
@{
    ViewData["Title"] = "Profile";
}

<h2>Student→Manage Profile</h2>
<form method="post">


        <div class="row d-flex justify-content-center align-items-center h-100">


            <div class="card" style="border-radius: 15px;">
                    <div class="card-body">

                        <div class="row align-items-center py-3">
                            <div class="col-md-9 ps-5">
                                <h3 class="mb-0">Personal details</h3>
                            </div>
                        </div>

                        <div class="row align-items-center py-3">
                            <div class="col-md-3 ps-5">

                            <label asp-for="Title" class="mb-0">Title</label>

                            </div>
                            <div class="col-md-9 pe-5">

                            <input type="text" asp-for="Title" class="form-control form-control-lg" disabled />

                            </div>
                        </div>

                        <div class="row align-items-center py-3">
                            <div class="col-md-3 ps-5">

                            <label asp-for="FirstName" class="mb-0">First Name</label>

                            </div>
                            <div class="col-md-9 pe-5">

                            <input type="text" asp-for="FirstName" class="form-control form-control-lg" disabled />

                            </div>
                        </div>

                        <div class="row align-items-center py-3">
                            <div class="col-md-3 ps-5">

                            <label asp-for="LastName" class="mb-0">Last Name</label>

                            </div>
                            <div class="col-md-9 pe-5">

                            <input type="text" asp-for="LastName" class="form-control form-control-lg" disabled />

                            </div>
                        </div>

                        <div class="row align-items-center py-3">
                            <div class="col-md-3 ps-5">

                                <label asp-for="Address" class="mb-0">Address</label>

                            </div>
                            <div class="col-md-9 pe-5">

                                <input type="text" asp-for="Address" class="form-control form-control-lg" />

                            </div>
                        </div>

                       <div class="row align-items-center py-3">
                            <div class="col-md-3 ps-5">

                                <label asp-for="Telephone" class="mb-0">Tell(optional)</label>

                            </div>
                            <div class="col-md-9 pe-5">

                            <input type="tel" asp-for="Telephone" class="form-control form-control-lg" />

                            </div>
                        </div>

                        <div class="row align-items-center py-3">
                            <div class="col-md-3 ps-5">

                            <label asp-for="cellPhone" class="mb-0">Cell</label>

                            </div>
                            <div class="col-md-9 pe-5">

                            <input type="tel" asp-for="cellPhone" class="form-control form-control-lg" />

                            </div>
                        </div>


                        <div class="row align-items-center py-3">
                            <div class="col-md-3 ps-5">

                            <label asp-for="Email" class="mb-0">Email</label>

                            </div>
                            <div class="col-md-9 pe-5">

                            <input type="email" asp-for="Email" class="form-control form-control-lg" disabled />

                            </div>
                        </div>

                        <div class="row align-items-center py-3">
                            <div class="col-md-3 ps-5">

                            <label asp-for="IdNo" class="mb-0">ID/Passport No (optinal)</label>

                            </div>
                            <div class="col-md-9 pe-5">

                            <input type="text" asp-for="IdNo" class="form-control form-control-lg" />

                            </div>
                        </div>

                        <div class="row align-items-center py-3">
                            <div class="col-md-3 ps-5">

                            <label asp-for="DriversLicense" class="mb-0">Drivers License</label>

                            </div>

                            <div class="col-md-9 pe-5">

                               <select id="DriversLicenseDropdown" asp-for="DriversLicense" asp-items="@Model.DriverLicenceList">
                                   <option disabled selected>Select Drivers license</option>
                               </select>
                            </div>
                        </div>

                        <div class="row align-items-center py-3">
                            <div class="col-md-3 ps-5">

                            <label asp-for="CareerObjective" class="mb-0">Career Objective</label>

                            </div>
                            <div class="col-md-9 pe-5">

                            <textarea asp-for="CareerObjective" class="form-control" rows="3"></textarea>

                            </div>
                        </div>

                        <div class="row align-items-center py-3">
                            <div class="col-md-3 ps-5">

                            <label asp-for="Gender" class="mb-0">Gender</label>

                            </div>

                            <div class="col-md-9 pe-5">

                        <select id="GenderDropdown" asp-for="Gender" asp-items="@Model.GenderList">
                            <option disabled selected>Select Gender</option>
                        </select>

                            </div>
                        </div>


                        <div class="row align-items-center py-3">
                            <div class="col-md-3 ps-5">

                            <label asp-for="Race" class="mb-0">Race</label>

                            </div>

                            <div class="col-md-9 pe-5">
                        <select id="RaceDropdown" asp-for="Race" asp-items="@Model.RaceList">
                            <option disabled selected>Select Race</option>
                        </select>

                            </div>
                        </div>


                        <div class="row align-items-center py-3">
                            <div class="col-md-3 ps-5">

                            <label asp-for="Nationality" class="mb-0">Nationality</label>

                            </div>

                            <div class="col-md-9 pe-5">

                        <select id="NationalityDropdown" asp-for="Nationality" asp-items="@Model.NationalityList">
                            <option disabled selected>Select Nationality</option>
                        </select>


                            </div>
                        </div>

                        <div class="row align-items-center py-3">
                            <div class="col-md-3 ps-5">

                            <label asp-for="YearOfStudy" class="mb-0">Current year of study</label>

                            </div>

                            <div class="col-md-9 pe-5">
                        <select id="YOSDropdown" asp-for="YearOfStudy" asp-items="@Model.YearOfStudyList">
                            <option disabled selected>Select  Year of study</option>
                        </select>
                            </div>
                        </div>

                        <div class="row align-items-center py-3">
                            <div class="col-md-3 ps-5">

                            <label asp-for="Faculty" class="mb-0">Faculty</label>

                            </div>

                            <div class="col-md-9 pe-5">
                        <select id="FacultyDropdown" asp-for="Faculty">
                            <option disabled selected>Select Faculty</option>
                            @foreach (var fac in Model.FacutyList)
                            {
                                <option value="@fac.Id">@fac.Name</option>
                            }
                            @*<option disabled selected>Select Faculty</option>*@
                        </select>

                            </div>
                        </div>

                        <div class="row align-items-center py-3">
                            <div class="col-md-3 ps-5">

                            <label asp-for="Department" class="mb-0">Department</label>

                            </div>

                            <div class="col-md-9 pe-5">
                        <select id="DepartmentDropdown" asp-for="Department">
                            <option disabled selected>Select Department</option>
                            @foreach (var dep in Model.DepartmentList)
                            {
                                <option value="@dep.Id">@dep.Name</option>
                            }
                            @*<option disabled selected>Select Department</option>*@
                        </select>

                            </div>
                        </div>


                    </div>


            </div>
        </div>
        <br />

         <div class="row d-flex justify-content-center align-items-center h-100">


                <div class="card" style="border-radius: 15px;">
                    <div class="card-body">



                        <div class="row align-items-center py-3">
                            <div class="col-md-9 ps-5">
                                <h3 class="mb-0">Skills</h3>
                            </div>
                        </div>
                        <div class="form-group">
                        <textarea asp-for="Skills" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                    </div>
                </div>

        </div>

        <br />

        <div class="row d-flex justify-content-center align-items-center h-100">


                <div class="card" style="border-radius: 15px;">
                    <div class="card-body">
                        <div class="row align-items-center py-3">
                            <div class="col-md-9 ps-5">
                                <h3 class="mb-0">Achievements</h3>
                            </div>
                        </div>
                        <div class="form-group">
                        <textarea asp-for="Achivements" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>

                    </div>
                </div>

        </div>

        <br />

        <div class="row d-flex justify-content-center align-items-center h-100">


                <div class="card" style="border-radius: 15px;">
                    <div class="card-body">

                        <div class="row align-items-center py-3">
                            <div class="col-md-9 ps-5">
                                <h3 class="mb-0">Interests</h3>
                            </div>
                        </div>
                        <div class="form-group">
                        <textarea asp-for="Interests" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>

                    </div>
                </div>

        </div>

        <br />


        <button type="submit" class="btn btn-secondary" asp-action="EditStudent" style="width:150px">Save</button>



</form>


@section Scripts
    {
    <script>
        $(document).ready(function () {

            $('#facultyDropdown').change(function () {
                var obid = this.value;
                $('#departmentDropdown').empty();
                $.ajax({
                    type: 'Get',
                    url: '@Url.Action("getdepartments","Student")',
                    datatype: 'json',
                    data: { id: obid },
                    success: function (dep) {
                        $.each(dep, function (index, item) {
                            $('#departmentDropdown').append('<option value="' + item.id + '">' + item.name + '</option')
                        });
                    }
                });
            });
        })
    </script>

    @{
        <partial name="_ValidationScriptsPartial" />
    }
}