@model SEP.Models.ViewModels.JobPostVM

<form method="post" asp-action="Detail">
    <input asp-for="StudentApplication.Id" hidden />
@*    <input asp-for="JobPost.ApplicationUserId" hidden />*@

    <h3>Details:</h3>
    <div class="col pb-2">
        <label class="col-sm-2 col-form-label">Job Title :</label>
        <input disabled asp-for="StudentApplication.jobPost.JobTitle" class="col-4"/>
    </div>

    <div class="col pb-2">
        <label class="col-sm-2 col-form-label">Description of job : </label>
        <input disabled asp-for="StudentApplication.jobPost.JobDescription" class="col-4" />
    </div>
    <br />

 <h3>Profile:</h3>

    <div class="col pb-2">
        <label class="col-sm-2 col-form-label">First Name : </label>
        <input disabled asp-for="StudentApplication.Student.ApplicationUser.FirstName" class="col-4">
    </div>

    <div class="col pb-2">
        <label class="col-sm-2 col-form-label" asp-for="StudentApplication.Student.ApplicationUser.LastName"></label>
        <input asp-for="StudentApplication.Student.ApplicationUser.LastName" disabled class="col-4">
    </div>

    <div class="col pb-2">
        <label class="col-sm-2 col-form-label" asp-for="StudentApplication.Student.ApplicationUser.Email"></label>
        <input asp-for="StudentApplication.Student.ApplicationUser.Email" disabled class="col-4">
    </div>

    <div class="col pb-2">
        <label class="col-sm-2 col-form-label" asp-for="StudentApplication.Student.ApplicationUser.Telephone"></label>
        <input asp-for="StudentApplication.Student.ApplicationUser.Telephone" disabled class="col-4">
    </div>


    <div class="col pb-2">
        <label class="col-sm-2 col-form-label">Faculty: </label>
        <input asp-for="StudentApplication.Student.Department.Faculty.Name" disabled class="col-4">
    </div>
    <div class="col pb-2">
        <label class="col-sm-2 col-form-label">Department: </label>
        <input asp-for="StudentApplication.Student.Department.Name" disabled class="col-4">
    </div>
    <div class="col pb-2">
        <label class="col-sm-2 col-form-label">Level: </label>
        <input asp-for="StudentApplication.Student.YearOfStudy.Name" disabled class="col-4">
    </div>
    <div class="col pb-2">
        <label class="col-sm-2 col-form-label">Gender : </label>
        <input asp-for="StudentApplication.Student.Gender.Name" disabled class="col-4">
    </div>
    <div class="col pb-2">
        <label class="col-sm-2 col-form-label">Nationality : </label>
        <input asp-for="StudentApplication.Student.Nationality.Name" disabled class="col-4">
    </div>
    <br />

    <h3>Documents:</h3>
    @foreach (ApplicationDocument document in Model.StudentApplication.Documents)
    {
        <div class="col pb-2">
            <label class="col-sm-2 col-form-label" >@document.Description</label>
            <a href="@document.FilePath" target="_blank">@document.Name</a>
        </div>
    }

    <div class="mb-3 form-group row col-5">
        <div>
            <label class="col-sm-2 col-form-label">Status :</label>
            <select asp-for="StudentApplication.applicationStatus.Id">
                <option disabled selected>Select Outcome</option>
                @foreach (var fac in Model.ApplicationStatusList)
                {
                    <option value="@fac.Id">@fac.Name</option>
                }
            </select>
            <br />
        </div>


        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
        <a href="/Employer/JobPost/ApplicationIndex?id=@Model.StudentApplication.JobPostId" class="btn btn-secondary" style="width:150px">Back</a>
@*        <a asp-area="JobPost" asp-action="Index" class="btn btn-secondary" style="width:150px">Back</a>*@

    </div>

</form>
