
@{
    ViewData["Title"] = "ReviewExternalEmployers";
}

<h1>ReviewExternalEmployers</h1>


<table id="tblData" class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Legal Name
            </th>
            <th>
                Trading name
            </th>
            <th>
                Registration number
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>

    @* <tbody>
    @foreach (var obj in Model)
    {
    <tr>
    <td width="10%">
    @obj.JobTitle
    </td>
    <td width="10%">
    @obj.Department
    </td>
    <td width="10%">
    @obj.JobType
    </td>
    <td width="10%">
    @obj.StartDate
    </td>
    <td width="10%">
    @obj.EndDate
    </td>
    <td width="10%">
    @obj.Status
    </td>

    <td width="10%">
    <div class="w-75 btn-group" role="group">
    <a asp-controller="JobPost" asp-action="Upsert" asp-route-id="@obj.Id"
    class="btn btn-secondary">Review</a>
    </div>
    </td>

    </tr>
    }
    </tbody>*@

</table>

