@model SEP.Models.ViewModels.EmployerVM

@{
    ViewBag.Title = "Index";
}


<h1>ReviewExternalEmployers</h1>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Business Name</th>
            <th>Trading Name</th>
            <th>Company RegNo</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model.EmployerList)
        {
            foreach (var obj1 in Model.ApplicationUserList)
            {

                    if (obj1.Id == obj.Id)
                    {
                        <tr>
                            <td>@obj1.FirstName</td>
                            <td>@obj1.LastName</td>
                            <td>@obj.BusinessName</td>
                            <td>@obj.TradingName</td>
                            <td>@obj.CompanyRegNo</td>
                            <td>@obj.Status.Name
                                <a asp-controller="Employer" asp-action="Upsert" asp-route-id="@obj.Id"
                                   class="btn btn-secondary">Review</a>
                            </td>
                        </tr>
                    }
            }
        }
    </tbody>



    @*     <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td width="10%">
                    @obj.ApplicationUser.FirstName
                </td>
                <td width="10%">
                    @obj.ApplicationUser.LastName
                </td>
                <td width="10%">
                    @obj.BusinessName
                </td>
                <td width="10%">
                    @obj.TradingName
                </td>
                <td width="10%">
                    @obj.CompanyRegNo
                </td>
                <td width="10%">
                    @obj.Status
                </td>
            </tr>
        }
    </tbody>*@


@*    <td width="10%">
    @obj.Status
    </td>*@

@*    <td width="10%">
    <div class="w-75 btn-group" role="group">
    <a asp-controller="Employer" asp-action="Upsert" asp-route-id="@obj.ApplicationUser.Id"
    class="btn btn-secondary">Review</a>
    </div>
    </td>*@



</table>

<div>
    <a asp-controller="Approver" asp-action="Index" class="btn btn-secondary">Back</a>
</div>

@*@section Scripts{
    <script src="~/js/Employer.js"></script>
}*@

