@model SEP.Models.ViewModels.EmployerVM


<form method="post" asp-action="Upsert">
    <input asp-for="Employer.Id" hidden />
    <input asp-for="Employer.JobTitle" hidden />
    <input asp-for="Employer.CompanyRegNo" hidden />
    <input asp-for="Employer.BusinessName" hidden />
    <input asp-for="Employer.TradingName" hidden />
    <input asp-for="Employer.BusinessTypeId" hidden />
    <input asp-for="Employer.RegisteredAddress" hidden />
    <input asp-for="Employer.ApplicationUserId" hidden />
    <div class="border p-3 mt-2">

        @*        Register section*@
@*        <div class="form-floating mb-3">
            <input asp-for="ApplicationUser.Title" disabled class="form-control" />
            <label asp-for="ApplicationUser.Title">Title</label>
            <span asp-validation-for="ApplicationUser.Title" class="text-danger"></span>
        </div>*@

        <div class="col pb-2">
            <label class="col-3 col-form-label fw-bold">Title:</label>
            <label>@Model.ApplicationUser.Title</label>
        </div>
        <div class="col pb-2">
            <label class="col-3 col-form-label fw-bold">First Name:</label>
            <label>@Model.ApplicationUser.FirstName</label>
        </div>
        <div class="col pb-2">
            <label class="col-3 col-form-label fw-bold">Last Name:</label>
            <label>@Model.ApplicationUser.LastName</label>
        </div>
        <div class="col pb-2">
            <label class="col-3 col-form-label fw-bold">Telephone:</label>
            <label>@Model.ApplicationUser.Telephone</label>
        </div>



        @*        Employer section*@
        <div class="col pb-2">
            <label class="col-3 col-form-label fw-bold">Job Title:</label>
            <label>@Model.Employer.JobTitle</label>
        </div>
        <div class="col pb-2">
            <label class="col-3 col-form-label fw-bold">Company registration number:</label>
            <label>@Model.Employer.CompanyRegNo</label>
        </div>
        <div class="col pb-2">
            <label class="col-3 col-form-label fw-bold">Business Name:</label>
            <label>@Model.Employer.BusinessName</label>
        </div>
        <div class="col pb-2">
            <label class="col-3 col-form-label fw-bold">Trading Name:</label>
            <label>@Model.Employer.TradingName</label>
        </div>
        <div class="col pb-2">
            <label class="col-3 col-form-label fw-bold">Business Type:</label>
            <label>@Model.Employer.BusinessType.Name</label>
        </div>
        <div class="col pb-2">
            <label class="col-3 col-form-label fw-bold">Registered Address:</label>
            <label>@Model.Employer.RegisteredAddress</label>
        </div>
        

            <div class="mb-3 form-group row">
                <div class="col-3">
                <label class="col-3 col-form-label fw-bold">Status:</label>
                    <select asp-for="Employer.StatusId" asp-items=@Model.StatusList class="form-select">
                    </select>
                    <br />
                    <span asp-validation-for="Employer.StatusId" class="text-danger"></span>
                </div>

            </div>




        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
        <a asp-controller="Employer" asp-action="Index" class="btn btn-secondary" style="width:150px">Back</a>
    </div>


</form>

@section Scripts
    {
    <script>
        $(function () {
            $('.datepicker').datepicker();
        });
    </script>

    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
