@model IEnumerable<JobPost>
@{
    ViewData["Title"] = "Index";
}

<h2>Employer -> Manage Posts</h2>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Job Title
            </th>
            <th>
                Department
            </th>
            <th>
                FT/PT
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Status
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td width="10%">
                    @obj.JobTitle
                </td>
                <td width="10%">
                    @obj.Department
                </td>
                <td width="10%">
                    @obj.JobType
                </td>
                <td width="10%">
                    @obj.StartDate
                </td>
                <td width="10%">
                    @obj.EndDate
                </td>
                <td width="10%">
                    @obj.Outcome
                </td>

            </tr>
        }
    </tbody>

</table>

<div>
    <a asp-controller="JobPost" asp-action="Create" class="btn btn-secondary">Create Post</a>
</div>

